/* ========== CSS VARIABLES ========== */
:root {
  --clr-main-bg:#e3f6f5;
  --clr-second-bg:#fffffe;
  --clr-headline:#272343;
  --clr-text:#2d334a;
  --clr-subtext:#6c7072;
  --clr-not-found:#ccc;
  --clr-active: #ffd803;
  --font-primary: 'Montserrat', sans-serif;
  --bsh-primary: 0px 0px 12px 0px rgba(39, 35, 67, 0.2);
}


/* ========== CSS MODERN RESET ========== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* ========== BASE ========== */
::-webkit-scrollbar {
  height: 10px; 
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--clr-headline);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-active);
  border-radius: 1rem;  
}

body {
  font-family: var(--font-primary);
  color: var(--clr-text);
  background-color: var(--clr-main-bg);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--clr-headline);
}

.main {
  padding: 1.5rem;
}

.app.dark :where(h1, h2, h3, p) {
  color: var(--clr-second-bg);
}

.app.dark .container {
  background-color: var(--clr-headline);
}


.app.dark .main {
  background-color: var(--clr-text);
}

.app.dark ._input_1d4vd_1 {
  border: none;
  color: var(--clr-main-bg);
  background-color: var(--clr-headline);
}

body:has(.app.dark) {
  background-color: var(--clr-text);
}